# Database
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/database_name

# General
ENVIRONMENT=development
DEBUG=true
PROJECT_NAME="Multimodal Hybrid RAG System"
API_V1_STR="/api/v1"

# Logging
LOG_LEVEL=INFO

# ML Settings (will be used in later phases)
EMBEDDING_MODEL=all-MiniLM-L6-v2
CLIP_MODEL=openai/clip-vit-base-patch32
FAISS_INDEX_PATH=data/indexes/faiss.index
BM25_INDEX_PATH=data/indexes/bm25_index.pkl

GROQ_API_KEY=gsk_your_groq_key_here
TAVILY_API_KEY=tvly_your_tavily_key_here
GROQ_MODEL=llama-3.1-8b-instant
WEB_SEARCH_THRESHOLD=0.65